extends layout

block content
	p
	| Donate Now
	.row
		p
		| Location/Epidemic
	.row
		.col-md-3
			+button Country 1
		.col-md-3
			+button Country 2
		.col-md-3
			+button Country 3
		.col-md-3
			+button Country 4
	.row
		p
		| Contribution Status
