extends layout



block content
  
  .container
    .row
      .jumbotron
        .container
          h1 Make a Donation
          p
          | "Talk about donations." 
    #products.row.view-group
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/first-aid-kit.png", alt="First Aid - First Aid Kit")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | First Aid Materials
            |                             
            p.group.inner.list-group-item-text
              | Field surgery tools, bandages, alcohol swabs, medical tape, gauze, etc.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputFirstAidMaterials') First Aid Materials Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/wood.png", alt="Building Materials - Wood")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Building Materials
            |                             
            p.group.inner.list-group-item-text
              | To help build emergency facilities, rebuild homes and communities. Materials include: wood, concrete, brick, and tools associated with building efforts - hammers, nails, saws, etc.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputBuildingMaterials') Building Materials Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/diagnosis.png", alt="Medical Supplies - Stethospcope")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Medical Supplies
            |                             
            p.group.inner.list-group-item-text
              | Necessary for medical professionals to treat patients: hospital beds, monitors, AEDs, IVs, surgical gloves, etc.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputMedicalSupplies') Medical Supplies Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
    #products.row.view-group
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/pills.png", alt="Medication - Pills")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Medication
            |                             
            p.group.inner.list-group-item-text
              | For patient recovery - antibiotics, pain killers, vaccinations, etc
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputMedication') Medication Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/hazmat.png", alt="Quarantine Centers - Hazmat")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Quarantine Centers
            |                             
            p.group.inner.list-group-item-text
              | For severe cases, relief efforts may require patients to be quarantined. Centers would need  hazmat suits and other specific tools required to handle quarantine patients.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputQuarantineCentetrs') Quarantine Centers Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/ambulance.png", alt="Transportation - Ambulance")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Transportation
            |                             
            p.group.inner.list-group-item-text
              | Improve the supply chain and increase the number of transportation vehicles available to move resources.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputTransportation') Transportation Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
    #products.row.view-group
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/groceries.png", alt="Food - Groceries")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Food
            |                             
            p.group.inner.list-group-item-text
              | To provide necessary sustenance to those affected. Necessities include: non-perishable items, grains, oats, vegetables, vitamins & minerals.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputFood') Food Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
      .item.col-md-4
        .thumbnail.card
          .img-event
            img.group.list-group-image.img-fluid(src="/images/drops.png", alt="Water - Water Drops")
          |                         
          .caption.card-body
            h4.group.card-title.inner.list-group-item-heading
              | Water
            |                             
            p.group.inner.list-group-item-text
              | Provide potable water for drinking and cleaning: bottled water & filters.
            |                             
            .row
              .col-xs-12.col-md-6
                label.sr-only(for='inputWater') Water Donation
                input#inputEmail.form-control(type='currency', placeholder='Amount', required='true', autofocus='')
              |                                 
              .col-xs-12.col-md-6
                a.btn.btn-success(href="#") Add to cart
            .row
              .progress
                .progress-bar.progress-bar-(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>