extends layout

block content
  h1= title
  p Welcome to #{title}
  +nav("Sana", "Main_menu")
      +nav_item( "playground" ) Playground
      +nav_item( "map" ) Map
      +nav_item( "donate" ) Donate
      +nav_item( "media" ) Media
  
  p im upset